
*, *::before, *::after {
  box-sizing: border-box;
}

#main {
  margin: auto;
  width: 566px;
  height: 800px;
}

.board {
  display: block;
  margin: 0;
}

.game-name {
  width: 576px;
  height: 100px;
  text-align: center;
}



.game-name h1 {
  font-family: Verdana;

}

.board .side-label, .board .block{
  float: left;
  display: inline-block;
  margin: 0;
  width: 60px;
  height: 60px;
  border: 2px solid gray;
}

.board {
  font-size: 2.5em;
  text-align: center;
  vertical-align: middle;
}



#empty, #x1,#x2,#x3,#x4,#x5,#x6,#x7,#x8 {
  font-size: 0.5em;
  text-align: right;
  border: none;
  color: #555555;
  size: 0.5em;
}

#xA,#xB,#xC,#xD,#xE,#xF,#xG,#xH {
  font-size: 0.5em;
  border: none;
  text-align: center;
  vertical-align: baseline;
  color: #555555;
  size: 0.5em;
}
.block-light {
  background-color: #FCD630;
}

.block-dark {
  background-color: #555555;
}

.block p {
  display: none;
}

.block p.piece {
  display: block;
}

#ch-control {
  height: 70px;
  display: block;
  margin-top: 5em;
  text-align: center;
}

.button {
  display: inline-block;
  width: 80px;
  height: 35px;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  vertical-align: middle;
}

/*chess pieces taken from http://nealchester.com/special-characters/ */

.brook:before {
  content: "\265C";
}

.bknight:before {
  content: "\265E";
}

.bbishop:before {
  content: "\265D";
}

.bqueen:before {
  content: "\265A";
}
.bking:before {
  content: "\265B";
}

.bpawn:before {
  content: "\265F";
}

.wrook:before {
  content: "\2656";
}

.wbishop:before {
  content: "\2657";
}

.wknight:before {
  content: "\2658";
}

.wking:before {
  content: "\2655";
}
.wqueen:before {
  content: "\2654";
}
.wpawn:before {
  content: "\2659";
}
