*, *::after *::before {
  box-sizing: border-box;
}

body {
  width:100%;
  font-family: 'Vollkorn', serif;
}

#container {
  width: 60%;
  margin: 0 auto;
  header {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    h1 {
      text-align: center;
      font-size: 2em;
      color: #924639;
      margin: 1.5em 0.2em auto;
    }
    h2 {
      text-align: center;
      font-size: 0.9em;
      color: #313131;
    }
    p {
      margin: 0 auto;
      width: 55%;
      font-size: 0.5em;
      font-style: italic;
      font-weight: lighter;
      text-align: center;
      padding: 5px 5%;
      border-top: 1.5px solid #DDDDDD;
      border-bottom: 1.5px solid #DDDDDD;
    }
  }
  table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    tr {
      &:nth-of-type(odd) {
        td:nth-of-type(odd){
          background: #888888;
        }
        td:nth-of-type(even){
          background: #DDDDDD;
        }
        // td:first-of-type, td:last-of-type{
        //   background: #FFFFFF;
        // }
      }
      &:nth-of-type(even) {
        td:nth-of-type(odd){
          background: #DDDDDD;
        }
        td:nth-of-type(even){
          background: #888888;
        }
        // td:first-of-type, td:last-of-type{
        //   background: #FFFFFF;
        // }
      }
      th{
        width: 10%;
        font-size: 1.0vw;
        font-weight: 300;
      }
      td {
        width: 10%;
        padding-bottom: 10%;
        border: 0;
        text-align: center;
        vertical-align: middle;
        position: relative;
        &:first-child {
          font-size: 1vw;
          align-content: center;
          text-align: right;
          padding-right: 10px;
          width: 10%;
          background: #FFFFFF;
          span {
            position: absolute;
            top: 25%;
          }
        }
        &:last-child {
          font-size: 1vw;
          align-content: center;
          text-align: left;
          padding-left: 5px;
          width: 10%;
          background: #FFFFFF;
          span {
            position: absolute;
            top: 25%;
          }
        }
      } //td
    } //tr
  } //table
  nav {
    text-align: center;
    width: 100%;
    margin: 2% auto;
  }
}


.brook:before {
    content: "\265C";
    font-size: 3.2vw;
    display: block;
    position:absolute;
    top:4%;
    bottom:5%;
    left:0;
    right:0;
}

.bknight:before {
    content: "\265E";
    font-size: 3.2vw;
    display: block;
    position:absolute;
    top:4%;
    bottom:5%;
    left:0;
    right:0;
}

.bbishop:before {
    content: "\265D";
    font-size: 3.2vw;
    display: block;
    position:absolute;
    top:4%;
    bottom:5%;
    left:0;
    right:0;
}
.bqueen:before {
    content: "\265A";
    font-size: 3.2vw;
    display: block;
    position:absolute;
    top:4%;
    bottom:5%;
    left:0;
    right:0;
}
.bking:before {
    content: "\265B";
    font-size: 3.2vw;
    display: block;
    position:absolute;
    top:4%;
    bottom:5%;
    left:0;
    right:0;
}

.bpawn:before {
    content: "\265F";
    font-size: 3.2vw;
    display: block;
    position:absolute;
    top:4%;
    bottom:5%;
    left:0;
    right:0;
}

.wrook:before {
    content: "\2656";
    font-size: 3.2vw;
    display: block;
    position:absolute;
    top:4%;
    bottom:5%;
    left:0;
    right:0;
}

.wbishop:before {
    content: "\2657";
    font-size: 3.2vw;
    display: block;
    position:absolute;
    top:4%;
    bottom:5%;
    left:0;
    right:0;
}

.wknight:before {
    content: "\2658";
    font-size: 3.2vw;
    display: block;
    position:absolute;
    top:4%;
    bottom:5%;
    left:0;
    right:0;
}

.wking:before {
    content: "\2655";
    font-size: 3.2vw;
    display: block;
    position:absolute;
    top:4%;
    bottom:5%;
    left:0;
    right:0;
}
.wqueen:before {
    content: "\2654";
    font-size: 3.2vw;
    display: block;
    position:absolute;
    top:4%;
    bottom:5%;
    left:0;
    right:0;
}
.wpawn:before {
    content: "\2659";
    font-size: 3.2vw;
    display: block;
    position:absolute;
    top:4%;
    bottom:5%;
    left:0;
    right:0;
}
